.blik-input {
  text-align: center;
  letter-spacing: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: fit-content;
}

.blik-input::placeholder {
  color: #aaa;
}

.blik-payment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.blik-background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blik-background-overlay-loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: blik-spin-loader 2s linear infinite;
}

.blik-background-overlay-message {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

.blik-cancel-button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.blik-cancel-button:hover {
  background-color: #2874a6;
}

@keyframes blik-spin-loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
